* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    font-family: sans-serif;
    color: white;
}
.input {
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.inputValue{
    height: 50px;
    width: 50vh;
    background: cornsilk;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px 10px;
}
.submitButton{
    height: 50px;
    width: 10vh;
    background: cornsilk;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.display {
    margin-top: 100px;
}
.name,
.desc,
.temp,
.icon {
    margin: 20px;
    text-align: center;
}